
.depicter-revert .depicter-1-element-22{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-20{
	opacity:0.71;
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-element-24{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-23{
	opacity:0.71;
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-14 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-element-27{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-26{
	opacity:0.71;
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-15 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-element-28{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-29{
	opacity:0.71;
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-16 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-element-30{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-31{
	opacity:0.71;
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-17 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-element-32{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-33{
	opacity:0.71;
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-18 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-element-35{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-34{
	opacity:0.71;
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-19 .depicter-section-background{
	background-color:#FFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-22{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-20{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-24{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-23{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-14 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-27{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-26{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-15 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-28{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-29{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-16 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-30{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-31{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-17 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-32{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-33{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-18 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-35{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-34{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-19 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-22{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-20{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-24{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-23{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-14 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-27{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-26{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-15 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-28{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-29{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-16 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-30{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-31{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-17 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-32{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-33{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-18 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-35{
	font-size:34px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-34{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-section-19 .depicter-section-background{
	background-color:#FFFFFF;
}

}
